<section>
  <ul class="blocks">
    <li class="block">
      <a href="#" target="_blank" rel="noopener" class="block__link">
        <span class="visually-hidden">View “Play and Work” channel on Arena</span>
      </a>
      <div class="block__content">
        <p class="block__title">
          Play and Work
        </p>
        <p class="block__desc">
          Here you think that the incentive to work is finances, need for money or desire for profit, but where there’s no money the real motives are clearer, maybe. People like to do things. They like to do them well.
        </p>
        <small>17 blocks</small>
      </div>
    </li>
    <li class="block">
      <a href="#" target="_blank" rel="noopener" class="block__link">
        <span class="visually-hidden">View “Cybernetics” channel on Arena</span>
      </a>
      <div class="block__content">
        <p class="block__title">
          Cybernetics
        </p>
        <p class="block__desc">
          Here you think that the incentive to work is finances, need for money or desire for profit, but where there’s no money the real motives are clearer, maybe. People like to do things. They like to do them well.
        </p>
        <small>17 blocks</small>
      </div>
    </li>
    <li class="block">
      <a href="#" target="_blank" rel="noopener" class="block__link">
        <span class="visually-hidden">View “A Better Internet” channel on Arena</span>
      </a>
      <div class="block__content">
        <p class="block__title">
          A Better Internet
        </p>
        <p class="block__desc">
          Here you think that the incentive to work is finances, need for money or desire for profit, but where there’s no money the real motives are clearer, maybe. People like to do things. They like to do them well.
        </p>
        <small>17 blocks</small>
      </div>
    </li>
  </ul>
</section>