{# Get the profile content #}
{% set profile = collections.profile[0] %}

{%- if profile.data.colleagues.length or profile.data.credits -%}
  <footer class="footer footer--site">

    {%- if profile.data.colleagues.length -%}
      <section class="section section--footer prose">
        <div class="subtle-links">

          <h2>Friends and collaborators</h2>

          <ul>
            {% for person in profile.data.colleagues %}
              <li>{% if person.url %}<a href="{{ person.url }}">{{ person.name }}</a>{% else %}{{ person.name }}{% endif %}</li>
            {% endfor %}
          </ul>
        </div>
      </section>
    {%- endif -%}

    {%- if profile.data.credits -%}
      <section class="section section--footer prose">

        <h2>Details</h2>

        {{ profile.data.credits | markdownify | safe }}

      </section>
    {%- endif -%}

  </footer>
{%- endif -%}