{% include "components/header.njk" %}

<div class="header header--desktop" id="top" aria-hidden="true">
  <div class="panel">
    <div class="nav__item nav__item--writing">
      {% set linkUrl = '/writing/' %}
      {% set linkText = 'Writing' %}
      {% set current = true %}
      {% include "components/nav-link.njk" %}{% if tag %}<span class="color-grey"> &mdash; </span>{{ tag }}{% endif %}
    </div>
  </div>
  <div class="panel">

  </div>
</div>