<html class="{% if section %}{{ section }}{% endif %}" lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title or renderData.title or person.name }}</title>
    {% set css %}
      {% include "assets/css/inline.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>
    {% set js %}
      {% include "assets/js/inline.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
  </head>

  <body>

    <header class="header header--site">
      {% set linkUrl = '/' %}
      {% set linkText = person.name %}
      {% if page.url == '/' %}
        <h1>
          {% include "components/nav-link.njk" %}
        </h1>
      {% else %}
        <span aria-hidden="true">
          {% include "components/nav-link.njk" %}
        </span>
        <h1 class="visually-hidden">
          {{ page.title }}
        </h1>
      {% endif %}
      {% include "components/nav.njk" %}
    </header>

    <main>