<nav>
  <ul>
    <li>
      {% set linkUrl = '/thinking/' %}
      {% set linkText = 'Thinking' %}
      {% include "components/nav-link.njk" %}
    </li>
    <li>
      {% set linkUrl = '/writing/' %}
      {% set linkText = 'Writing' %}
      {% include "components/nav-link.njk" %}
    </li>
  </ul>
</nav>