{# Get the profile content #}
{% set profile = collections.profile[0].data %}

{# Section: About #}
{% if profile.content %}
  <section class="section prose">

    <h2>About</h2>

    {{ profile.content | safe }}

  </section>
{% endif %}

{# Section: Contact #}
{% if profile.sameAs.length or profile.email %}
  <section class="section section--contact prose">

    <h2>Contact</h2>

    {% if profile.email %}
      <p><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></p>
    {% endif %}

    {% if profile.sameAs %}
      <ul>
        {%- for link in profile.sameAs -%}
          <li><a href="{{ link.url }}">{{ link.text }}</a></li>
        {%- endfor -%}
      </ul>
    {% endif %}

  </section>
{% endif %}

{# Section: Current and upcoming activity #}
{% if collections.activityCurrent.length %}
  <section class="section prose">

    <h2>Current and upcoming</h2>

    <ul class="activities">
      {% for a in collections.activityCurrent | reverse %}
        {% include "components/activity-item.njk" %}
      {% endfor %}
    </ul>
  </section>
{% endif %}

{# Section: Previous activity #}
{% if collections.activityPast.length %}
  <section class="section prose">

    <h2>Previously</h2>

    <ul class="activities">
      {% for a in collections.activityPast %}
        {% include "components/activity-item.njk" %}
      {% endfor %}
    </ul>

  </section>
{% endif %}

{# Section: Expertise #}
{% if profile.offers.length %}
  <section class="section prose">

    <h2>Expertise</h2>

    <ul>
      {%- for item in profile.offers -%}
        <li>{{ item }}</li>
      {%- endfor -%}
    </ul>

  </section>
{% endif %}

{# Section: Links #}
{% if profile.workList.length %}
  <section class="section prose">

    <h2>Recent work</h2>

    <ul>
      {% for item in profile.workList %}
        <li>{% if item.url %}<a href="{{ item.url }}">{{ item.text }}</a>{% else %}{{ item.text }}{% endif %}</li>
      {% endfor %}
    </ul>
    <small>Full portfolio available on request</small>

  </section>
{% endif %}
