
{# TODO hook this up to actual content #}

<section class="section">

  <h2>About</h2>

  
  <p>I am an interdependent digital designer and researcher.</p>

  <p>I have worked in Australia, The Netherlands and the UK, leading digital design projects for a wide range of organisations, primarily within the cultural, social innovation and educational sectors. Most recently, I was the senior digital art director at <a href="#">Future Corp</a> in London.</p>

  <p>I am currently working on <a href="#">Common Knowledge</a>, a workers cooperative of software engineers and designers building digital tools for grassroots activists.</p>

  <p>I am part of <a href="#">Evening Class</a>, a design collective and self-organised learning group. Together we develop research around our common interests, write texts, host events, run workshops, work on design projects and support one another.</p>

  <p>I am available for collaborations and love talking to new people, so send me an email.</p>

</section>

<section class="section section--contact">

  <h2>Contact</h2>

  <p><a href="mailto:mail@gemmacope.land">mail@gemmacope.land</a></p>
  <ul>
    <li><a href="#">Arena</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Keybase</a></li>
  </ul>

</section>

<section class="section">

  <h2>Current and upcoming</h2>

  <ul class="activities">
    <li class="activity">
      <time class="color-grey">08.2019</time>
      <p>
        <span>Residency</span>, <a href="#">Casa Sasso</a><br>
        Variano, CH
      </p>
    </li>
    <li class="activity">
      <time class="color-grey">10.2019</time>
      <p>
        <span>Workshop</span>, <a href="#">Hurra Hurra festival</a><br>
        Halle, DE<br>
        <span class="color-grey">as part of Evening Class</span>
      </p>
    </li>
  </ul>
</section>

<section class="section">

  <h2>Previously</h2>

  <ul class="activities">
    <li class="activity">
      <time class="color-grey">2017–2019</time>
      <p>
        <a href="#">Future Corp</a><br>
        London, UK<br>
      </p>
    </li>
  </ul>

</section>

<section class="section">

  <h2>Expertise</h2>

  <ul>
    <li>Strategy</li>
    <li>Art direction</li>
  </ul>
</section>

<section class="section">

  <h2>Recent work</h2>

  <ul>
    <li><a href="#">AT ID</a></li>
    <li><a href="#">Odunpazari Modern Museum</a></li>
  </ul>
  <small>Full portfolio available on request</small>
</section>
