html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  background-color: var(--background-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*:focus {
  outline: 0;
}

body {
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  margin: 0;
}

html,
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

main {
  flex-grow: 1;
}

p,
pre,
code {
  line-height: 1.5;
}

small {
  color: var(--color-grey-dark);
  font-size: var(--font-small);
  line-height: var(--line-height-small);
}

time {
  font-size: var(--font-small);
  line-height: var(--line-height-small);
}

h1,
h3 {
  color: var(--color-1);
  font-size: var(--font-small);
  font-weight: inherit;
  line-height: var(--line-height-small);
  margin: 0;
}

h2 {
  color: var(--color-1);
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  line-height: 1.5;
}

h4,
h5,
h6 {
  color: var(--color-black);
  font-size: var(--font-small);
  font-weight: inherit;
  line-height: var(--line-height-small);
  margin: 0;
}

strong {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
}

ol,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  border: 1px solid transparent;
  color: currentColor;
  text-decoration-color: var(--color-1);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
}

a:hover {
  color: var(--color-1);
}

a:focus {
  border: 1px solid var(--color-1);
  color: var(--color-1);
  text-decoration: none;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
}

svg {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

iframe {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}