.header--site,
.header--desktop,
.header--panel {
  margin-bottom: 1.625rem;
  padding-bottom: var(--gutter);
  padding-top: var(--gutter);
}

.header--desktop,
.header--panel {
  display: none;
}

.header--site {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.header--site > *:first-child {
  flex-grow: 1;
  padding-right: var(--gutter);
}

.header--site > *:last-child {
  margin-right: calc(var(--gutter) * -1);
}

.header--site > * {
  margin-left: calc(var(--gutter) * -1);
}
.header--site .nav > * {
  margin-right: 0;
}

.header--site .nav {
  padding-left: calc(var(--gutter) * -1);
  padding-right: calc(var(--gutter) * -1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.header--site .nav__list {
  flex-wrap: wrap;
}

.nav__link {
  border: none;
  color: var(--color-grey-dark);
  padding: 0.5rem var(--gutter);
  text-decoration: none;
}

.nav__link--current,
.panel--profile .nav__link {
  color: var(--color-black);
}

.nav__link:hover,
.nav__link:focus {
  border: none;
  color: var(--color-1);
}

.site-title {
  font-size: inherit;
  line-height: inherit;
}

.blog--tag .header--site .nav__item--blog {
  padding-right: var(--gutter);
}

.blog--tag .header--desktop .nav__item--blog {
  max-width: 34rem;
}

.blog--tag .nav__link--current {
  color: var(--color-grey-dark);
  padding-right: 0;
}

.blog--tag .nav__link--current:hover,
.blog--tag .nav__link--current:focus {
  color: var(--color-1);
}

.blog--tag .panel,
.blog--tag .nav__item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.blog--tag .nav__item {
  max-width: 100vw;
}

.skip-buttons:focus-within {
  display: flex;
  padding: var(--gutter) var(--gutter) 0 var(--gutter);
}

.button--skip {
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

.button--skip:focus {
  border: 1px solid color(--color-1);
  clip: none;
  height: auto;
  overflow: auto;
  padding: 0.125rem 0.5rem;
  position: static !important;
  width: auto;
}
