.button {
  background-color: var(--color-2);
  border-bottom: 1px solid transparent;
  border-radius: 0.125rem;
  color: var(--color-white);
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.125rem 0.5rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  color: var(--color-grey-dark);
  font-size: var(--font-small);
  line-height: var(--line-height-small);
}

.tag:after {
  content: ",";
  margin-right: 0.2rem;
}

.tag:hover {
  text-decoration: none;
}

.tag:last-child:after {
  content: none;
}

.activity {
  margin-bottom: 0.875rem;
}

.activity__time {
  color: var(--color-grey-dark);
}

.article__time {
  display: inline-block;
}

.header--article {
  margin-bottom: 0.875rem;
}
