.panel--blocks {
  background-color: var(--color-grey-light);
}

.panel-contents {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.panel-contents section {
  margin-bottom: 3.125rem;
}

.panel:last-child {
  display: none;
}

.home .panel--profile footer {
  display: none;
}

.thinking {
  background-color: var(--color-grey-light);
}

.panel--profile .prose > *:first-child {
  margin-top: 0;
}
