.panel--blocks {
  background-color: var(--color-grey-light);
}

.panel-contents {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.arena .panel--blocks .panel-contents section,
.panel--profile .panel-contents section {
  margin-bottom: 3.125rem;
}

.panel--blocks .panel-contents section {
  margin-bottom: 1.25rem;
}

.panel:last-child {
  display: none;
}

.home .panel--profile footer {
  display: none;
}

.arena {
  background-color: var(--color-grey-light);
  
}

.panel--profile .prose > *:first-child {
  margin-top: 0;
}
