@font-face {
  font-display: swap;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 700;
}
