.greyscale {
  --color-1: var(--color-black);
  --color-2: var(--color-grey);
}

.greyscale a:not(.block__link):hover {
  border-bottom: 1px solid transparent;
}

.greyscale .pagination a:hover {
  border-bottom: none !important;
}

.greyscale .nav__link--current:hover,
.greyscale .nav__link--current:focus {
  color: var(--color-grey-dark);
}

.greyscale .activity__time {
  color: var(--color-black);
}

.greyscale .subtle-links a:hover {
  border-bottom: 1px solid var(--color-1);
}

.greyscale .pagination a:hover,
.greyscale .pagination a:focus {
  color: var(--color-grey-dark);
}

.greyscale .pagination__list a:hover,
.greyscale .pagination__list a:focus {
  color: var(--color-black);
}

.greyscale .footer--site {
  background-color: var(--color-black);
  color: var(--color-white);
}

.greyscale .footer--site h2 {
  color: inherit;
}

.greyscale .footer--site a,
.greyscale .footer--site a:hover,
.greyscale .footer--site a:focus {
  color: inherit;
}

.greyscale .footer--site a {
  border-bottom: 1px solid var(--color-white);
}

.greyscale .footer--site a:hover {
  border-bottom: 1px solid transparent;
}

.greyscale .footer--site a:focus {
  border: 1px solid var(--color-white) !important;
}

.greyscale .footer--site .subtle-links a {
  border-bottom: 1px solid transparent;
}

.greyscale .footer--site .subtle-links a:hover {
  border-bottom: 1px solid var(--color-white);
}

.adjust-contrast {
  border: 1px solid transparent;
  margin: 0.25rem calc(var(--gutter) - 0.5rem);
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
}

.adjust-contrast:focus {
  border: 1px solid var(--color-1);
}

.greyscale .adjust-contrast:focus {
  border: 1px solid var(--color-white);
}

.adjust-contrast:after {
  color: var(--color-1);
}

.adjust-contrast:after,
.greyscale .adjust-contrast:hover:after,
.greyscale .adjust-contrast:focus:after {
  content: "◐";
}

.greyscale .adjust-contrast:after {
  color: var(--color-white);
}

.greyscale .adjust-contrast:after,
.adjust-contrast:hover:after,
.adjust-contrast:focus:after {
  content: "◑";
}
