/****************
** Helpers **
****************/
.visually-hidden {
  /* NOTE accessible hide via https://a11yproject.com/posts/how-to-hide-content/ */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.color-grey {
  color: var(--color-grey-dark);
}
