.is-tabbing .header--desktop {
  display: none;
}

/* Visually unhide the site header */
.is-tabbing .header--site,
.is-tabbing .header--site .nav,
.is-tabbing .header--site .nav__list,
.is-tabbing .header--site .nav__item,
.is-tabbing .header--site .site-title,
.is-tabbing .header--site .nav__link {
  clip: auto;
  height: auto;
  overflow: auto;
  position: static !important;
  width: auto;
}

.is-tabbing .header--panel {
  display: none;
}

.is-tabbing .header--site {
  padding-bottom: 1rem;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  padding-top: var(--gutter);
}

.is-tabbing .header--site .aria-title {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.is-tabbing .nav__link {
  padding: 0.5rem var(--gutter);
}
