.article--single {
  margin-bottom: 3.125rem;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.article .prose > *,
.panel--profile .panel-contents > * {
  max-width: 34rem;
}

.blog .main,
.post .main {
  display: flex;
  flex-direction: column;
}

.blog .main section,
.post .main section {
  flex-grow: 1;
}
