.prose p,
.prose ul,
.prose ol,
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose hr {
  margin-bottom: 0.625rem;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  margin-top: 2rem;
}

.prose p ~ p img {
  margin-top: 1rem;
}

.prose blockquote {
  border-left: 1px solid var(--color-1);
  margin-left: 0;
  margin-top: 0;
  padding-left: var(--gutter);
}

.prose hr {
  background-color: var(--color-1);
  border: 0;
  height: 1px;
  margin-bottom: var(--gutter);
  margin-left: 0;
  margin-top: var(--gutter);
}

.article .prose ul {
  list-style: disc;
  padding-left: 1rem;
}

.article .prose ol {
  padding-left: 1rem;
}

.prose code,
.prose pre {
  font-size: 15px;
}

.prose code {
  background: var(--color-2);
  padding: 0.125rem;
}

.prose mark {
  background: var(--color-2);
  padding: 0.125rem;
}

.prose pre {
  background: var(--color-2);
  padding: 0.5rem;
}

.prose pre code {
  padding: 0;
}

.section--contact p {
  margin-bottom: 0;
}

.section--contact ul {
  display: flex;
}

.section--contact li:not(:last-child) {
  margin-right: 0.25rem;
}

.section--contact li:not(:last-child):after {
  content: ", ";
}
