:root {
  --color-1: hsl(0, 0%, 32%); /* Customise */
  --color-2: #FFFFCC; /* Customise */
  --color-black: black;
  --color-grey: #eaeaea;
  --color-grey-dark: #8a8a8a;
  --color-grey-light: #f8f8f8;
  --color-white: #ffffff;
  --font-small: 0.75rem;
  --gutter: 1rem;
  --line-height-small: 1.4;
}
