:root {
  --color-1: #867370; /* Customise */
  --color-2: #291D0E; /* Customise */
  --color-black: #93809C;
  --color-grey: #eaeaea;
  --color-grey-dark: #8a8a8a;
  --color-grey-light:#1D160C;
  --color-white: #3B2C16;
  --font-small: 0.75rem;
  --gutter: 1rem;
  --line-height-small: 1.4;
}
