:root {
  --color-1: #6100ff; /* Customise */
  --color-2: #dfccff; /* Customise */
  --color-black: #353535;
  --color-grey: #eaeaea;
  --color-grey-dark: #8a8a8a;
  --color-grey-light: #f8f8f8;
  --color-white: #ffffff;
  --font-small: 0.75rem;
}
