---
section: home
---
<html class="{{ section }}" lang="{{ global.lang }}">

  {% include "components/head.njk" %}

  <body class="has-panels">

    {% include "components/header.njk" %}

    <main class="main">

      <article class="panel panel--profile">
        <header class="header header--panel" aria-hidden="true">
          {% set linkUrl = '/' %}
          {% set linkText = global.siteTitle %}
          {% set current = true %}
          {% include "components/nav-link.njk" %}
        </header>
        <div class="panel-contents">
          {% include "components/profile.njk" %}
        </div>
        <div aria-hidden="true">
          {# NOTE Hide this panel footer from screen readers since it is already at the bottom of the whole page #}
          {% include "components/footer.njk" %}
        </div>
      </article>

      <aside class="panel panel--blocks" aria-hidden="true">
        <div class="header header--panel">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                {% set linkUrl = '/thinking/' %}
                {% set linkText = 'Thinking' %}
                {% set current = false %}
                {% include "components/nav-link.njk" %}
              </li>
              <li class="nav__item">
                {% set linkUrl = '/writing/' %}
                {% set linkText = 'Writing' %}
                {% set current = false %}
                {% include "components/nav-link.njk" %}
              </li>
            </ul>
          </nav>
        </div>
        <div class="panel-contents">
          {% include "components/blocks.njk" %}
        </div>
      </aside>


    </main>

    {% include "components/footer.njk" %}

  </body>

</html>
