---
section: page
---
<html class="{{ section }}" lang="{{ global.lang }}">

  {% include "components/head.njk" %}

  <body>

    {% include "components/header.njk" %}

    <div class="header header--desktop" aria-hidden="true">
      <div class="panel">
        {% set linkUrl = '/' %}
        {% set linkText = global.siteTitle %}
        {% set current = true %}
        {% include "components/nav-link.njk" %}
      </div>
      <div class="panel">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              {% set linkUrl = '/arena/' %}
              {% set linkText = 'Arena' %}
              {% set current = false %}
              {% include "components/nav-link.njk" %}
            </li>
            <li class="nav__item">
              {% set linkUrl = '/writing/' %}
              {% set linkText = 'Writing' %}
              {% set current = false %}
              {% include "components/nav-link.njk" %}
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <main id="main" class="main">

      {% set singleUrl = url %}
      {%- set singleTitle = title -%}
      {%- set singleTags = tags -%}
      {%- set singleContent -%}
        {{ layoutContent | safe }}
      {%- endset -%}
      {% include "components/single.njk" %}

    </main>

    {% include "components/footer.njk" %}

  </body>

</html>
