---
section: post
---
<html class="{{ section }}" lang="{{ global.lang }}">

  {% include "components/head.njk" %}

  <body>

    {% include "components/header.njk" %}

    <div class="header header--desktop" aria-hidden="true">
      <div class="panel">
        {% set linkUrl = '/writing/' %}
        {% set linkText = 'Writing' %}
        {% set current = true %}
        {% include "components/nav-link.njk" %}
      </div>
      <div class="panel">
        <nav>
          <ul>
            <li>
              {% set linkUrl = '/thinking/' %}
              {% set linkText = 'Thinking' %}
              {% set current = false %}
              {% include "components/nav-link.njk" %}
            </li>
            <li>
              {% set linkUrl = '/' %}
              {% set linkText = global.siteTitle %}
              {% set current = false %}
              {% include "components/nav-link.njk" %}
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <main>

      <section>
        {% set singleUrl = url %}
        {%- set singleTitle -%}
          <time datetime="{{ page.date | machineDate }}">
            {{ page.date | readableDate }}
          </time>
          {%- if displayTitle == true -%}
            &nbsp;—&nbsp; {{ title }}
          {%- endif -%}
        {%- endset -%}
        {%- set singleTags = tags -%}
        {%- set singleContent -%}
          {{ layoutContent | safe }}
        {%- endset -%}
        {% include "components/single.njk" %}
      </section>

    </main>

    {% include "components/footer.njk" %}

  </body>

</html>
