---
section: writing
pagination:
  data: collections.posts
  size: 2
  alias: posts
---
<html class="{{ section }}" lang="{{ global.lang }}">

  {% include "components/head.njk" %}

  <body>

    {% include "components/header-writing.njk" %}

    <main class="main">

      {# TODO add layout content? #}
      
      <section>
        {% for post in collections.posts %}
          {% include "components/single-post.njk" %}
        {% endfor %}
      </section>

    </main>

    {% include "components/footer.njk" %}

  </body>

</html>
