---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true
}
---
{% if collections.posts.length %}{% set posts = collections.posts | reverse %}<?xml version="1.0" encoding="utf-8"?>
  <feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ global.siteTitle }}</title>
    <link href="{{ global.url }}/feed.xml" rel="self"/>
    <link href="{{ global.url }}"/>
    <updated>{{ posts | rssLastUpdatedDate }}</updated>
    <id>{{ global.url }}</id>
    {% if global.author %}
      <author>
        <name>{{ global.author.name }}</name>
        <email>{{ global.author.email }}</email>
      </author>
    {% endif %}
    {%- for post in posts %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(global.url) }}{% endset %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | rssDate }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    </entry>
    {%- endfor %}
  </feed>
{% endif %}